language: python

python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.4"

# Setup the environment before installing
before_install:
  - sudo apt-get update
  # ----------------------------------------------------------------------------
  # The following is taken/adapted from Minicoda's how-to Travis page
  # http://conda.pydata.org/docs/travis.html
  # ----------------------------------------------------------------------------
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  # Automatically say yes to any check from conda
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # Create the conda environment with dependencies installed
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION --file requirements.txt
  # Activate the test environment
  - source activate test-environment
  # ----------------------------------------------------------------------------

install:
  #- python setup.py install

script:
  # Your test script goes here
